@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.main-box {
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
}

.contentField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.textField {
    display: flex;
    gap: 20px;
}

.selectField {
    display: flex;
    gap: 100px;
}

textarea {
    width: 300px;
    height: 250px;
    background: #444;
    outline: none;
    resize: none;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    color: #ddd;
    padding: 20px;
}

select {
    width: 300px;
    height: 50px;
    background: transparent;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

option {
    background: #222;
}

button {
    height: 60px;
    width: 60px;
    color: #ccc;
    background: transparent;
    border: none;
    font-size: 30px;
    border-radius: 100%;
    cursor: pointer;
}

button:hover {
    background: #444;
    transition: .5s ease-out;
}

button:active i {
    background: #444;
    transform: scale(.8);
}

button i {
    transition: .1s ease-out;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
}